body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f4f8; /* Um cinza-azulado muito claro */
}

/* Animação para o spinner de carregamento */
@keyframes spin {
    to { transform: rotate(360deg); }
}

.spinner {
    animation: spin 1s linear infinite;
}

/* Estilo para esconder o input de ficheiro padrão */
input[type="file"] {
    display: none;
}